node_modules/
.next/
out/
dist/
.env
.env.local
.env.*.local
.DS_Store
.vercel/
.cache/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log
.idea/
.vscode/
/.turbo/
public/uploads/
.parcel-cache/
